
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e6e6e;
    color: white;
    padding: 10px;
    position: relative; /* Para fijar la cabecera en la parte superior de la pantalla */
    top: 0; /* Para fijar la cabecera en la parte superior de la pantalla */
    left: 0; /* Para que la cabecera comience desde la izquierda */
    width: 100%; /* Para que la cabecera ocupe todo el ancho de la pantalla */
    z-index: 999; /* Para que la cabecera esté sobre el resto del contenido */
    box-sizing: border-box; /* Para incluir el padding en el ancho total de la cabecera */
    height: 100%;
    font-family: "Roboto", sans-serif;

  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 2px;
}

  #hora {
    margin: 10px;
}

  .conf {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px 10px;
    color: #000000;
    font-weight: bold; /* Texto en negrita */
    font-size: 25px; /* Tamaño del texto */

  }

  

  .infocar {
    position: relative; /* Asegúrate de que el menú tenga una posición relativa */
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 5px 10px;
  }

  .margenLogo{
    position: fixed;
    right: 47%;
    
  }

  #ImagenLogo{
    width: 6vw;
    height: auto;
    
    text-align: center;
    justify-content: center;

    
  }
  
  .controlesDelCoche {
    display: flex;
  }
  
  .boton, .boton-volumen {
    width: 50px; /* Ancho fijo */
    height: 10px; /* Alto fijo */
    margin-right: 23px;
    background-color: #ffffff;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espacio alrededor del texto */
    text-decoration: none; /* Elimina el subrayado del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-weight: bold; /* Texto en negrita */
    font-size: 25px; /* Tamaño del texto */
  }
  
  .boton:hover, .boton-volumen:hover {
    background-color: #999;
  }


  .menu{
    position: relative; /* Asegúrate de que el menú tenga una posición relativa */
    z-index: 998; /* Para que la cabecera esté sobre el resto del contenido */
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;

  }


  .tamanio-logos{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left:15px
    
  }
  